<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elevate" version="0.1.0" targetFramework="net40" />
  <package id="ManagedFusion" version="1.0.31" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net40" />
</packages>